{% extends "base.html" %}

{% block header %}About Me{% endblock %}
{% block subheader %}This is what I do for the better something{% endblock %}


{% block content %}
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
           <p>Hi ~! I'm Kaden from Seoul. This project's goal is to analyze Seoul Local Shop Market with Franchise location & count information from NAVER API. </p>
           <p>Hope you guys enjoy the beautiful maps of Seoul!</p>
           <p> Thanks for Visiting! Thanks for the opportunity that I can make something to share! </p>
        </div>
      </div>
    </div>
  
    <hr>
{% endblock %}
