{% extends "base.html" %}

{% block header %}Seoul Market Analysis{% endblock %}
{% block subheader %}Focusing on Franchise Business{% endblock %}


{% block content %}
    <div class="map-container" id="map-container">
        <div class="map-nav">
            <p class="nav-title"> Click point for detail information </p>
            <li class="nav-item"><a href="{{ url_for('show_map', filename='large_area.html') }}" target="map-iframe">Large</a>
                <a href="{{ url_for('show_map', filename='medium_area.html') }}" target="map-iframe">Medium</a>
                <a href="{{ url_for('show_map', filename='small_area.html') }}" target="map-iframe">Small</a>
                <a href="{{ url_for('show_map', filename='dense_large_area.html') }}" target="map-iframe">Dense-Large</a>
                <a href="{{ url_for('show_map', filename='dense_medium_area.html') }}" target="map-iframe">Dense-Medium</a>
                <a href="{{ url_for('show_map', filename='subway_available.html') }}" target="map-iframe">Subway-Available</a>
                <a href="{{ url_for('show_map', filename='subway_non_available.html') }}" target="map-iframe">Subway-Non-Available</a>
            </li>
        </div>
        <div class="map-div">
            <iframe class="map-iframe" id="map-iframe" src="{{ url_for('show_map', filename='large_area.html') }}" name="map-iframe">map</iframe>
        </div>    
    </div>
    <hr>
{% endblock %}